{% load static %}
<!DOCTYPE html>
<html lang="en">
<head id="navbar">
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div id="main-content">
        <form id="registerForm" method="POST" action="{% url 'register' %}">
          {% csrf_token %}
          <h2>Register</h2>
          <div class="form-messages"></div>

          <label>Name:</label>
          <input type="text" name="name" id="name" required autocomplete="name">

          <label>Email:</label>
          <input type="email" name="email" id="email" required autocomplete="email">

          <label>Password:</label>
          <input type="password" name="password" id="password" required autocomplete="new-password">

          <label>Phone:</label>
          <input type="number" name="phone" id="phone" required autocomplete="tel">

          <button type="submit">Register</button>
          <p>Already have an account? <a href="{% url 'login' %}" class="spa-link">Login here</a></p>
        </form>
    </div>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/register.js"></script>
</body>
</html>